*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 99%;
    margin: auto;
}



header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 15%;
}

#logo{
    height: 50px;
    margin-left: 0.5%;
    margin-top: 20px;
}

#intestazione{
    margin-top: 15px;
}

#booleaner{
    color: #44b7e9;
}

#sottotitolo1{
    color: #939393;
    font-size: 20px;
}

#sottotitolo2{
    color: #939393;
    font-size: 15px;
}

#fototim{
    margin-top: 20px;
}

#descfoto{
    font-size: 12px;
}

#lorem{
    margin-top: 15px;
    margin-bottom: 15px;
}

.evidenziato{
    background-color: yellow;
}

#elenco{
    margin-left: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
}

table{
    border-collapse:collapse;
}

thead{
    background-color: #20a9e5;
}

.cyan{
    background-color: #b1e5f2;
}
